# for my build/test folder
build/

# for CMake's output
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# for MSVC
*.vcxproj
*.vcxproj.*
*.sln
*.db
*.opendb
*.db-*
.vs/
[Dd]ebug/
[Ww]in32/
MessageBookCli.dir/
